# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.pytest_cache/
*.log

# Node.js / React
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.DS_Store

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Local SQLite (auto-created on first run by backend/seed.py)
backend/aquapulse.db
